button.u {
    border: none;
    padding: 6px 10px;
    margin: 4px 2px;
    background-color: #ffee00;
    color: #000000;
    font-size: 12px;
  }
  button.u.hover {
    border: none;
    padding: 6px 10px;
    margin: 4px 2px;
    background-color: #eedd00;
    color: #000000;
    font-size: 12px;
    cursor: pointer;
  }
  button.mas {
    border: none;
    padding: 6px 10px;
    margin: 4px 2px;
    background-color: #ff0000;
    color: #000000;
    font-size: 12px;
  }
  button.mas.hover {
    border: none;
    padding: 6px 10px;
    margin: 4px 2px;
    background-color: #ee0000;
    color: #000000;
    font-size: 12px;
    cursor: pointer;
  }